{% extends "base.html" %}



{% block at %}
@about
{% endblock %}

{% block body %}

<h3>about:</h3>
Hashsquid is about interactive, decentralized commenting. Some sites don't let you comment, some require that your comment go through some form of moderation, some poor filtering.
<br><br>
What if you could choose whose comments you wanted to read across the entire net? What if you wanted to comment on those comments and create something even more? How about using your comments to improve the internet? Help others find what you think is important and encourage people (or yourself!) to build parts that are missing.
<br><br>
Hashsquid is about collaboration, asking questions, producing more than any single article/blog/website/webpage could ever do on its own. Link, comment, relink, comment on comments, refine.
<br><br>
Make the web a better place.
{% endblock %}
